<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <!--Bootstarp link-->
  <!--Font awesome link-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="">
    {{!-- header starts here --}}
    <header style="padding: 25px; background-color: ">
      <h1>
        <a href="/" class="home ">Home <i class="fa-solid fa-house-user"></i></a>
      </h1>
      <nav>
        <a href="/dashboard" class="dashboard">dashboard</a>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>

    {{!-- main starts here --}}
    <main>
      {{{ body }}}
    </main>

    {{!-- footer starts here --}}
    <footer>
      Thanks for visiting!
    </footer>
  </div>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>