{{!-- set a loader while it's loading the html --}}
<div class='spinner-wrapper'>
  <div class="spinner"></div>
</div> 

{{!-- display Post model data  --}}
<section>
  <h2>Create a post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn-submit">Submit Post {{posts.length}}</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li  style="display: flex;">
      {{> post-post post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
<script src="/javascript/index.js"></script>