 <div class="row login-page">
  <form class="col login-form">
    <h2>
      login Here
    </h2>
    <div>
      <label for="email-login">email:</label>
      <input type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login">password:</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button class="open-door" type="submit">login<i class="fa-solid fa-person-walking ml-1"></i><i class="fa-solid fa-door-open"></i></button>
    </div>
  </form>

  <form class="col signup-form">
    <h2>
      Create Account
    </h2>
    <div>
      <label for="username-signup">username <i class="fa-solid fa-user"></i></label>
      <input type="text" id="username-signup" />
    </div>
    <div>
      <label for="email-signup">email <i class="fa-solid fa-at"></i></label>
      <input type="text" id="email-signup" />
    </div>
    <div>
      <label for="password-signup">password <i class="fa-solid fa-key"></i></label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit">signup<i class="fa-solid fa-arrow-right-to-bracket"></i></button>
    </div>
  </form>
</div>  

<script src="/javascript/login.js"></script>