* {
  box-sizing: border-box;
}


:root{
  --main-color:#052b59;
  --black:black;
}

body, html {
  background-color: rgb(24, 22, 22);
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color .1s;
  font-size: 17px;
  text-decoration: none;
}

.comments-tag{
  color: #225ca3;
}


.dashboard {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color .1s;
  font-size: 20px;
}

.dashboard:hover {
  color: white;
  border-bottom: 1px solid rgb(145, 145, 151);
  padding: 10px;
}

.home{
  font-size: 20px;
}


.home:hover {
  border-bottom: 1px solid rgb(145, 145, 151);
  padding: 5px;
}

.home .fa-solid{
  color: #225ca3;
}

.home:hover .fa-solid{
  color: white;
  transform: rotate(360deg);
  transition: 1s;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.add-comment-btn:hover{ 
  letter-spacing: .06rem;
}

.add-comment-btn:active{ 
  background-color: #22a369;
}

.post-list {
  margin: 0;
  padding: 0;
}

li{
  border: solid 1px rgb(142, 125, 125);
  padding: 15px;
  margin: 5px;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #171f29;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: color .3s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: red;
}

.login-page{
  min-height: 70vh;
}

.col{
  border: 2px solid white;
  margin: 10px;
}

.login-form label{ 
  margin-top: 10px;
}

.signup-form label{
  margin-top: 25px ;
}

.login-page h2{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-self: center;
  color: white;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  padding: 10px;
}

.delete-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

article {
  line-height: 150%;
  display: flex;
  justify-content: space-between;
}

.comment:nth-child(odd) {
  background-color: var(--main-color);
  border: 2px solid white;
}

.comment:nth-child(even) {
  background-color: #171f29;
  color: white;
  border: 2px solid white;
}


.add-comment{
  background-color: #225ca3;
  border: 0;
  margin-top: 5px;
  padding: 5px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

.spinner-wrapper{
  width: 100%;
  height: 100%;
  background-color: #151515;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.spinner::before,
.spinner:after{
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image:linear-gradient(90deg, #ff00cc 0%,#333399 100% );
  animation: spin .5s infinite linear;
}
.spinner:after {
  width: 90%;
  height: 90%;
  background-color: #151515;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}


footer {
  min-height: 10vh;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}